<h1 class="text-center mt-4"><%= @user.username %>'s Profile</h1>
<div class="text-center mt-3">
  <span class="rounded-circle shadow d-inline-block overflow-hidden">
    <%= gravatar_for @user, size: 150 %>
  </span>
</div>
<% if logged_in? && @user == current_user %>
  <div class="text-center mt-3">
    <%= link_to  'Edit Profile', edit_user_path(@user), class:'btn btn-info text-decoration-none' %>
  </div>
<% end %>
<h3 class="text-center mt-4">Articles</h3>
<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles/article', articles: @articles, user: @user %>
<div class="flickr_pagination mt-4 mb-4">
  <%= will_paginate @articles, :container => false %>
</div>
