.
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: category %>
      <%= form_with(model: category, local: true,data: { turbo: false }, class:'shadow p-3 mb-3 bg-info rounded' ) do |form| %>
        <div class="form-group row">
          <%= form.label :name, "Category Name", class: 'col-2 col-form-label text-white' %>
          <div class="col-10">
            <%= form.text_field :name, class: 'form-control shadow rounded', placeholder: "Enter Category Name" %>
          </div>
        </div>
        <div class="from-group text-center mt-4">
          <%= form.submit class:"btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <!-- <div class="text-center mt-2 mb-5"> -->
    <%#= link_to '[ Cancel and return To users ]', users_path, class:'text-info' %>
    <!-- </div> -->
  </div>
</div>
